<ul class="list-inline social-buttons">
  <li class="orgs-dsf"><a href="https://www.djangoproject.com/foundation/" target="_blank"></a> </li>
  <li class="orgs-djangogirls"><a href="http://djangogirls.org/" target="_blank"></a> </li>
  <li class="orgs-adainitiative"><a href="http://adainitiative.org/" target="_blank"></a> </li>
  <li class="orgs-blackgirlscode"><a href="http://www.blackgirlscode.com/" target="_blank"></a> </li>
  <li class="orgs-girldevelopit"><a href="http://www.girldevelopit.com/" target="_blank"></a> </li>
  <li class="orgs-railsgirls"><a href="http://railsgirls.com/" target="_blank"></a> </li>
</ul>
