<div class="list-inline tech-buttons">
  <span class="tech-django"><img alt="Django web framework" src="{{ STATIC_URL }}/img/tech/django.png"></span>
  <span class="tech-python"><img alt="Python programming language" src="{{ STATIC_URL }}/img/tech/python.png"></span>

  <span class="tech-rails"><img alt="Ruby on Rails web framework" src="{{ STATIC_URL }}/img/tech/rails.png"></span>
  <span class="tech-ruby"><img alt="Ruby programming language" src="{{ STATIC_URL }}/img/tech/ruby.png"></span>

  <span class="tech-php"><img alt="PHP programming language" src="{{ STATIC_URL }}/img/tech/php.png"></span>
  <span class="tech-drupal"><img alt="Drupal PHP CMS" src="{{ STATIC_URL }}/img/tech/drupal.png"></span>

  <span class="tech-web"><img alt="HTML CSS Javascript JS" src="{{ STATIC_URL }}/img/tech/web.png"></span>
</div>
