<h4>Why post here?</h4>

<p>We distribute your post through our developer networks in your region.</p>

<p>That's right: <b>we actively contact developers on your behalf</b>!</p>


<p>Additionally you get a warm fuzzy feeling as the fees you pay here are
  delivered back to the open source projects and communities and bring the great
  developers and software to you.</p>
<p>By posting with us you can also feel like you're doing your bit to get more
  diverse people in to the developer community (yes, women!).</p>
