{% extends 'base.html' %}


{% block content %}

<div class="row">
    <div class="large-12 columns">
        <h2>Terms of Service</h2>
        <ol>
            <li>We endeavour to ensure all job postings listed are valid and legitimate, although we take no responsibility or liability whatsoever for the validity, credibility or suitability of job posted to the site.</li>
            <li>Post listing begins once it has been approved by us, after payment. The posting will be listed </li>
            <li>We reserve the right to reject or otherwise remove any listing which we think is spam or not suitable for listing on the site.</li>
            <li>We cannot offer any guarantees that you will receive any response to your listing. However, you can increase your chances by making sure that your listings provide accurate information and show a clear association with HTML/CSS, Javascript, Django, Python, Rails or other web and IT related technologies.</li>
            <li>If we choose not to approve your listing you will not be&nbsp;charged (excluding transaction fees).</li>
            <li>Although we endeavour to maximise our uptime, the site may be unavailable during routine maintenance and for updates and improvements. If there is likely to be a prolonged period of downtime, will will give users as much notice as possible and keep them informed of the situation.</li>
        </ol>
    </div>
</div>

{% endblock %}
